@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --font-sans: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-sans);
}

.blog-content p {
  margin-bottom: 1.5rem;
}

.blog-content h1, 
.blog-content h2, 
.blog-content h3, 
.blog-content h4, 
.blog-content h5, 
.blog-content h6 {
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-content a {
  color: #3b82f6;
  text-decoration: underline;
}

.blog-content ul, 
.blog-content ol {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.blog-content ul {
  list-style-type: disc;
}

.blog-content ol {
  list-style-type: decimal;
}

.blog-content blockquote {
  border-left: 4px solid #4b5563;
  padding-left: 1rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

